- name: Kasutaja parooli loomine
  hosts: all
  user: root

  vars:
    password: "{{ lookup('password', '/dev/null length=15 chars=ascii_letters,digits') }}"

  tasks:
    - name: Prindi parool
      debug:
        var: password

    - name: Tee kasutaja parooliga
      user:
        name: kasutaja
        password: "{{ password | password_hash }}"
